
.searchresult {
    position: relative;
    top:50px;
    left: 2%;
    right:2%;
}

.pagelist {
    list-style: none;
    color: rgb(29, 135, 255);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 50px;
    margin-left: 5%;
}

.pagelistfirst {
    margin-left: 20px;
    font-size: 13px;
}

.pagelist li {
    margin-right: 15px;
    position: relative;
}

.pagelistnext {
    margin-left: 40px;
    font-size: 13px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }